{
  "presets": [
    "module:metro-react-native-babel-preset",
    "@babel/preset-flow"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./root"
        ],
        "cwd": "babelrc",
        "alias": {
          "components": "./app/components",
          "commonStyles": "./app/commonStyles",
          "config": "./app/config",
          "constants": "./app/constants",
          "helpers": "./app/helpers",
          "images": "./app/images",
          "navigation": "./app/navigation",
          "store": "./app/store",
          "theme": "./app/theme"
        },
        "extensions": [
          ".ios.js",
          ".android.js",
          ".js",
          ".json"
        ]
      }
    ]
  ]
}
